<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <form action="userLogin">
      <!-- <h1>LogIn / SignUp</h1> -->
      <div class="login">
        <b class="name">Food Icon</b>
        <p>
          <input
            class="input_style"
            type="text"
            name=""
            value=""
            placeholder="username"
          />
        </p>

        <p>
          <input class="input_style" type="number" placeholder="mobile no" />
        </p>

        <p>
          <input class="input_style" type="password" placeholder="password" />
        </p>

        <button class="button">LogIn</button>
      </div>
    </form>

    <a href="">Login / </a>
    <a href="">SignUp</a>
  </body>
</html>
