
body{
    /* background-image: url("images/izuku-midoriya-4k-minimalist-crouch-ogy6yh00fm7ubvcz.jpeg") ; */
    background-color:grey;
    background-size: 100%;
    
    
}
h1{
    text-align: center;
    color: white;
    /* position: absolute; */
    /* top:300px; */
    /* background-color: lightgray; */
    
}

.name{
    font-size: 50px;
    color: white;
    /* padding-bottom: 30px ; */
    position: relative;
    bottom: 30px;
    font-family: 'Lobster', cursive;
}

.login{


    /* border: 1px solid white; */
    text-align: center;
    margin: 90px auto 9px 100px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 400px;
    height: 60px;
    /* background-color: transparent; */
    
    

    
}
.input_style{

    width: 290px;
    height: 50px;
    margin-bottom: 0.5em;
    /* background: transparent; */
    cursor: pointer;
    font: xx-large;
    border-radius: 20px;
    border-width: 2px;
    background-color: transparent;
    border-color: white;
    font-size: 20px;
    color: white;
    padding-left: 20px ;
    
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:white;
    opacity: 0.7; /* Firefox */
    /* background: rgb(var(--ig-secondary-background)); */
    font-size: 22px;
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 8px;


  }

  .button{
    width: 290px;
    height: 50px;
    border-radius: 100px;
    position: relative;
    top: 70px;
    border-width: 1px;
    font-size:20px ;
    font-family: 'Space Grotesk', sans-serif;
    
   
    




  }
a{
    text-decoration: none;
    text-align: center;
    position: relative;
    top:1px;
    left:232px;
    font-size: 20px;
    color: white;
    font-family: 'Space Grotesk', sans-serif;


}